.background {
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
}

.bx--modal-content {
  background-color: #171717;
  height: 100%;
}

.bx--modal-container {
  height: 640px;
  width: 1195px;
  max-width: none;
  position: absolute;
  top: 143px;
  left: 123px;
  flex-direction: row;
}

.bx--modal-footer {
  background-color: #171717;
  height: 100%;
  padding-top: 550px;
}

.bx--modal-header {
  display: none;
}

p {
  color: #eee;
}

.scene-container {
  width: 1088px;
  height: 100%;
  object-fit: contain;
}

.scene {
  width: 100%;
  height: 100%;
}
